/*html,body{height:100%;margin:0;padding:0;}*/

/*#groupDescriptionContainer{height:100%;background-color:grey}*/
/*.groupRowBoardContainer{padding:40px;box-sizing:border-box}*/
/*.groupDescriptionBoard{background-color:teal;height:100%;padding:40px;}*/